<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/styles.css">

</head>
<body>

<header>
    <div class="image-container">
        <p>EasyDocker</p>
    </div>

    {{#user-logged}}
    <div class="user-info">
        <a href="/">Log out, {{username}}</a>
    </div>
    {{/user-logged}}

    {{#user-temporal}}
    <div class="user-info">
        <a href="/sign_up">Create an Account</a>
    </div>
    {{/user-temporal}}

</header>

<div class="content">

<!--        {{#user}}-->
    <div class="container-item" id="selection">
        <div class="container-item-header">
            <div class="container-item-header-title">
                <h2>Projects</h2>
            </div>
            <div class="add-button">

            </div>
        </div>

        <div class="container-content">

        </div>

        <div class="container-item-footer">

        </div>

    </div>
<!--        {{/user}}-->

    {{#project}}
    <div class="container-item" id="sign-in">

    </div>
    {{/project}}

    {{#template}}
    <div class="container-item" id="sign-up">

    </div>
    {{/template}}

</div>

<footer>
    Include 2020
</footer>

</body>
</html>