<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/styles.css">

</head>
<body>

<header>
    <div class="image-container">
        <p>EasyDocker</p>
    </div>

    {{#user-logged}}
    <div class="user-info">
        <a href="/">Log out, {{username}}</a>
    </div>
    {{/user-logged}}

    {{#user-temporal}}
    <div class="user-info">
        <a href="/sign_up">Create an Account</a>
    </div>
    {{/user-temporal}}

</header>

<div class="content">

    {{#user}}
    <div class="container-item" id="selection">
        <div class="container-item-header">
            <div class="container-item-header-title">
                <h2>Projects</h2>
            </div>
            <div class="add-button">

                <form method="post" class="form vertical" action="/new-project">
                    <label class="form-entry">
                        <input type="text" name="project_name" placeholder="Give a name" required>
                    </label>
                    <button class="btn-submit" type="submit">New Project</button>
                </form>

            </div>
        </div>

        <div class="container-content">
            <div class="items-list">
                {{#projects}}
                <a class="container-content-items"  href="/project/{{id}}">{{name}}</a>
                {{/projects}}
            </div>
        </div>

    </div>
    {{/user}}

    {{#project}}
    <div class="container-item" id="sign-in">
        <div class="container-item-header">
            <div class="container-item-header-title">
                <h2>Templates</h2>
            </div>
            <div class="add-button">

                <form method="post" class="form vertical" action="/new-template">
                    <label>
                        <input type="text" name="template_name" placeholder="Give a name" required>
                    </label>
                    <button class="btn-submit" type="submit">New Template</button>
                </form>

            </div>
        </div>

        <div class="container-content">
            <div class="items-list">
                {{#templates}}
                <a class="container-content-items" href="/template/{{id}}">{{name}}</a>
                {{/templates}}
            </div>
        </div>
    </div>
    {{/project}}

    {{#template}}
    <div class="container-item" id="sign-up">
        <div class="container-item-header">
            <div class="container-item-header-title">
                <h2>Template Editor</h2>
            </div>
            <div class="add-button">

            </div>
        </div>

        <div class="container-content">

        </div>
    </div>
    {{/template}}

</div>

<footer>
    Include 2020
</footer>


</body>
</html>