<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/styles.css">

</head>
<body>

<div class="content">

    <div class="header">
        <div class="image-container">
            <div>
                <img src="SVG/docker-easy.svg" alt="logo">
            </div>
            <div>EasyDocker</div>
        </div>
    </div>

    <div class="container-login">

        <div class="container-login-item" id="container-login-left">

        </div>

        {{#selection}}
        <div class="container-login-item" id="selection">
            <div class="form">
                <div class="container-login-item-head">
                    <h2>Welcome to<br>EasyDocker</h2>
                </div>
                <a class="btn-submit btn-free" href="/user-temporal">Start without an Account!</a>
                <div class="in-up-container">
                    <a class="btn-submit" href="/sign_in">Sign In</a>
                    <a class="btn-submit" href="/sign_up">Sign Up</a>
                </div>
            </div>
        </div>
        {{/selection}}

        {{#sign-in}}
        <div class="container-login-item" id="sign-in">
            <form class="form" action="/signing_in" method="post">

                <div class="container-login-item-head">
                    <h2>Welcome<br>back</h2>
                </div>

                <div class="form-entry">
                    <p>User</p>
                    <label>
                        <input type="text" name="user" required>
                    </label>
                </div>
                <div class="form-entry">
                    <p>Password</p>
                    <label>
                        <input type="password" name="password" required>
                    </label>
                </div>
                <div class="form-entry">
                    <button class="btn-submit" type="submit">Sign In</button>
                </div>
                <div class="container-login-item-foot">
                    <a href="/">Back</a>
                </div>
            </form>

        </div>
        {{/sign-in}}

        {{#sign-up}}
        <div class="container-login-item" id="sign-up">

            <form class="form" action="/signing_up" method="post">
                <div class="container-login-item-head">
                    <h2>Create a new Account</h2>
                </div>
                <div class="form-entry">
                    <p>User</p>
                    <label >
                        <input type="text" name="user" required>
                    </label>
                </div>
                <div class="form-entry">
                    <p>Password</p>
                    <label>
                        <input type="password" name="password" required>
                    </label>
                </div>
                <div class="form-entry">
                    <button class="btn-submit" type="submit">Sign Up</button>
                </div>
                <div class="container-login-item-foot">
                    <a href="/">Back</a>
                </div>
            </form>

        </div>
        {{/sign-up}}
    </div>

    <div class="footer">
        <h2>Include &copy; 2020</h2>
    </div>

</div>

</body>
</html>